<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.DrawingMapper">
    <!-- namespace路径根据自己而定 -->
        <!-- 查询图纸列表（带多条件） -->
        <select id="findDrawingList" resultType="com.example.demo.entity.Drawing">
            select *
            from drawing
            <where>
                1 = 1
                <if test="drawingQueryParam != null">
                    <if test="drawingQueryParam.productNo != null and drawingQueryParam.productNo != ''">
                        and product_no like CONCAT('%',#{drawingQueryParam.productNo}, '%')
                    </if>
                    <if test="drawingQueryParam.drawingName != null and drawingQueryParam.drawingName != ''">
                        and drawing_name like CONCAT('%',#{drawingQueryParam.drawingName}, '%')
                    </if>
                    <if test="drawingQueryParam.drawingType != null and drawingQueryParam.drawingType != ''">
                        and drawing_type = #{drawingQueryParam.drawingType}
                    </if>
                    <if test="drawingQueryParam.drawingPath != null and drawingQueryParam.drawingPath != ''">
                        and drawing_path like CONCAT('%',#{drawingQueryParam.drawingPath}, '%')
                    </if>
                </if>
            </where>
        </select>
    <select id="findDrawingListByPN" resultType="com.example.demo.entity.Drawing">
        select *
        from drawing where product_no =  #{product_no}
    </select>
</mapper>




